<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a (click)="home()" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a (click)="createweapon()" class="nav-link">Add New Weapon</a>

        </li>
        <li>
            <a (click)="newfeature()" class="nav-link">Moving Entities</a>
        </li>

        <li>
            <a (click)="logout()" class="nav-link">Sign Out</a>
        </li>
    </ul>
</nav>

<div class="col-md-6 offset-md-3">
    <h3>Update Weapon</h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Title</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="weapon.title" name="title">
        </div>

        <div class="form-group">
            <label>Category</label>
            <input type="text" class="form-control" id="category" [(ngModel)]="weapon.category" name="category">
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="weapon.description" name="description">
        </div>

        <div class="form-group">
            <label>Ammunition</label>
            <input type="text" class="form-control" id="ammunition" [(ngModel)]="weapon.ammunition" name="ammunition">
        </div>
        <br>
        <button class="btn btn-success" type="submit">Submit</button>

    </form>
</div>